<h1>I am the remaining Two!</h1>
<p>Lost!</p>
<p><%= link_to("One", three_test_one_path)%></p>
<p><%= link_to("Three", three_test_two_path)%></p>

<ul>
	<% @files.each do |f|%>
	<li>File name is: <%= f %></li>
	<% end%>
</ul>